// Small devices (landscape phones, 576px and up)
$breakpointSmallDevices: 576px;
// Medium devices (tablets, 768px and up)
$breakpointMediumDevices: 768px;
// 768px devices (desktops, 992px and up)
$breakpointLargeDevices: 768px;
// Extra large devices (large desktops, 1200px and up)
$breakpointExtraLargeDevices: 1200px;
