.main {
    min-height: 100vh;
    padding: 2rem;

    .heading {
        align-items: center;
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 20px;
    }

    .card-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
        gap: 10px;
        justify-content: center;
    }
}
