.main {
    min-height: 100vh;
    padding: 3rem;

    .heading {
        align-items: center;
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        justify-content: center;
        margin-bottom: 20px;
    }
}
