.bordering-country-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-gap: 10px;
    gap: 10px;
    justify-content: space-around;
}

.cardContainer {
    align-items: center;
    background-color: #222;
    box-shadow: 0 0 0 1px #01bf71;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}
